body {
    background-color: #0091AD;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 10rem 1rem;
}