.audio-player {
    max-width: 100%;
    margin: 1rem 0;
    -webkit-tap-highlight-color: #fff0;
    outline: none;
    touch-action: manipulation;
}

.controls {
    display: flex;
    align-items: center;
}

.play-pause {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    margin-right: .5rem;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--accent);
    cursor: pointer;
}

.play-pause .icon {
    width: 75%;
    height: 75%
}

.play-pause.play .icon polygon {
    fill: var(--primary);
}

.play-pause.pause .icon rect {
    fill: var(--primary);
}

.progress {
    position: relative;
    flex: 1;
    height: 2px;
    border-radius: 1px;
    box-shadow: 0 0 0 4px rgb(255 0 123/.075);
    background-color: lightgray;
    cursor: pointer;
}

.progress-filled {
    width: 0;
    height: 100%;
    background-color: var(--accent);
}

.progress input {
    position: absolute;
    top: -.45rem;
    width: 100%;
    height: 16px;
    margin: 0;
    border: 0;
    background: #fff0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: auto;
}

.progress input::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    margin: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--accent);
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.progress input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    margin: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--accent);
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}